<div class="container" ng-controller="ContactsCtrl">
	<div class="large-8 columns">
		<span>Contacts number: 1</span>
		<div data-alert ng-show="msg" class="alert-box">{{msg}}</div>

		<!-- CONTACT INFO: -->
		<div ng-show="isContactInfoShowing" class="callout secondary">
			<h3>{{name}}</h3>
			<ul>
				<li>Email address: <strong>{{email}}</strong></li>
				<li>Company: <strong>{{company}}</strong></li>
				<li>
					Phone numbers:
					<ul>
						<li>Work: <strong>{{work_phone}}</strong></li>
						<li>Home: <strong>{{home_phone}}</strong></li>
						<li>Mobile: <strong>{{mobile_phone}}</strong></li>
					</ul>
				</li>
				<li>
					Address:
					<ul>
						<li>State: <strong>{{state}}</strong></li>
						<li>City: <strong>{{city}}</strong></li>
						<li>Zipcode: <strong>{{zipcode}}</strong></li>
						<li>Street: <strong>{{street_address}}</strong></li>
					</ul>
				</li>
			</ul>
			<a href="" class="button alert" ng-click="hideContactInfo()">Close</a>
		</div>

		<!-- NEW CONTACT FORM: -->
		<a href="" class="button warning" ng-click="showAddForm(true)" ng-hide="isAddFormShowing">Add contact</a>
		<form ng-submit="addFormSubmit()" ng-show="isAddFormShowing" class="callout secondary small">
			<div class="container">
				<div class="row">
					<div class="large-12 columns">
						<h3>Add Contact</h3>
						<a href="" class="button alert" ng-click="showAddForm(false)">Close<a/>
					</div>
				</div>

				<!-- Add Form -->
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Name:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="name" placeholder="Contact Name" required />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Email:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="email" placeholder="Contact Email" required />
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Company:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="company" placeholder="Company Name" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Work Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="work_phone" placeholder="Work Phone" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Mobile Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="mobile_phone" placeholder="Mobile Phone" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Home Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="home_phone" placeholder="Home Phone" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Street Address:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="street_address" placeholder="Street Address" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">City:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="city" placeholder="City" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">State:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="state" placeholder="State" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Zip Code:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="zipcode" placeholder="Zip Code" />
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns text-right">
						<input type="submit" value="Add Contact" class="button success" />
					</div>
				</div>
			</div>
		</form>

		<!--EDIT CONTACT FORM: -->
		<form ng-submit="editFormSubmit()" ng-show="isEditContactShowing" class="callout secondary small">
			<div class="container">
				<div class="row">
					<div class="large-12 columns">
						<h3>Edit Contact</h3>
						<a href="" class="button alert" ng-click="hide()">Close<a/>
					</div>
				</div>

				<!-- Add Form -->
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Name:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="name" placeholder="Contact Name" required />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Email:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="email" placeholder="Contact Email" required />
					</div>
				</div>

				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Company:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="company" placeholder="Company Name" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Work Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="work_phone" placeholder="Work Phone" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Mobile Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="mobile_phone" placeholder="Mobile Phone" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Home Phone:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="home_phone" placeholder="Home Phone" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">Street Address:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="street_address" placeholder="Street Address" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">City:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="city" placeholder="City" />
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						<label for="" class="text-right">State:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="state" placeholder="State" />
					</div>
					<div class="large-2 columns">
						<label for="" class="text-right">Zip Code:</label>
					</div>
					<div class="large-4 columns">
						<input type="text" ng-model="zipcode" placeholder="Zip Code" />
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns text-right">
						<input type="submit" value="Update Contact" class="button success" />
						
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- CONTACT LIST: -->
	<div class="large-12 columns">
		<table class="hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Company</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contact in contacts">
					<td>
						<a href="" ng-click="showContactInfo(contact)"><strong>{{contact.name}}</strong></a>
					</td>
					<td>
						{{contact.company}}
					</td>
					<td>
						<a href="{{contact.email}}">{{contact.email}}</a>
					</td>
					<td>
						<a href="" class="button" ng-click="editContact(b)">Edit</a>
						<a href="" class="button alert" ng-click="removeContact(contact)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>